<section class="cards-row">
    <div class="cards-row__wrapper"><p class="cards-row__wrapper_text">{{ section.settings.text }}</p>
        <h2 class="cards-row__wrapper_title">{{ section.settings.heading }}</h2>
        <div class="cards-row__wrapper_row product-row swiper-container">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    {% assign product = all_products[block.settings.product] %}

                    <a href="{{ product.url }}" class="product-row__item swiper-slide">
                        <picture>
                            {% if product.images != blank %}
                                {% for image in product.images %}
                                    {% if forloop.first == true %}
                                        <img src="{{ image.src | product_img_url: 'grande' }}"
                                             class="product-row__item_img" alt="">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img src="{{ 'vector.png' | asset_img_url: 'master' }}"
                                     class="product-row__item_img" alt="">
                            {% endif %}
                        </picture>

                        <div class="product-row__item_content">
                            <div class="product-row__item_specs"><p
                                        class="product-row__item_name">{{ product.title }}</p>
                                {% if product.variants.size > 1 %}
                                    <p class="product-row__item_text">Available in different grades</p>
                                {% else %}
                                    {%- for option in product.options_with_values -%}
                                        {% if option.name == 'Farbe' or option.name == 'Apple Farbe' %}
                                            <p class="product-row__item_text">
                                            <div class="color-picker-indicator">
                                                {{ option.values | first | append: '.png' | replace: ' ', '-' | replace: 'ß', 'b' | replace: 'ü', 'u' | asset_url | img_tag: option.values }}
                                            </div>
                                            </p>
                                        {% else %}
                                            <p class="product-row__item_text">{{ option.name }}: {{ option.values }}</p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="product-row__item_price"><p
                                        class="product-row__item_current-price">{{ product.price | money }}</p>
                                <p class="product-row__item_previous-price">{{ product.compare_at_price | money }}</p>
                            </div>
                        </div>
                    </a>

                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "Product Cart Top",
"max_blocks": 50,
"settings": [
{
"type": "text",
"id": "heading",
"label": {
"de": "Titel",
"en": "Title"
},
"default": "Smarte Vergleiche"
},
{
"type": "text",
"id": "text",
"label": {
"de": "Text",
"en": "Text"
},
"default": "Vergleichbare Produkte"
}
],
"blocks": [
{
"type": "collection",
"name": "Product Cart",
"settings": [
{
"type": "product",
"id": "product",
"label": "Product"
}
]
}
]
}
{% endschema %}