<section class="subfooter">
    <div class="subfooter__wrapper">
        <img src="{{ section.settings.logo | img_url: 'master' }}" class="subfooter__wrapper_logo" alt="">
        {%- for block in section.blocks -%}
            {% if forloop.last == true %}
                <div class="subfooter__wrapper_column connect-column">
                    <p class="subfooter__wrapper_title">Connect</p>
                    <div class="subfooter__wrapper_links">
                        <a href="#" class="subfooter__wrapper_img">
                            {% comment %}{{ 'twitter_logo.png' | asset_url | img_tag: 'twitter_logo' }}{% endcomment %}
                            <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M25.3197 3.35836C24.3971 3.76708 23.4184 4.03523 22.4163 4.15388C23.4718 3.52233 24.2617 2.52853 24.6387 1.35772C23.6466 1.94669 22.5609 2.36143 21.4288 2.58396C20.9558 2.07945 20.3842 1.67746 19.7495 1.4029C19.1148 1.12834 18.4304 0.987049 17.7389 0.987796C14.9472 0.987796 12.6835 3.25084 12.6835 6.04316C12.6835 6.439 12.7283 6.82524 12.8147 7.19548C8.61311 6.9846 4.88831 4.9718 2.39487 1.91292C1.94529 2.68446 1.70906 3.56171 1.71039 4.45468C1.70973 5.287 1.91467 6.1066 2.30701 6.84065C2.69936 7.5747 3.26695 8.20047 3.95935 8.66236C3.1567 8.63686 2.37173 8.42008 1.66975 8.03004C1.66911 8.05116 1.66911 8.07196 1.66911 8.09372C1.66911 10.5424 3.41151 12.5856 5.72383 13.0505C4.97927 13.2521 4.19862 13.2816 3.44095 13.1369C4.08415 15.1449 5.95103 16.607 8.16319 16.648C6.37245 18.0533 4.16112 18.8155 1.88479 18.8121C1.47679 18.8121 1.07455 18.7884 0.678711 18.7414C2.99018 20.2266 5.68036 21.0149 8.42783 21.0121C17.7264 21.0121 22.8112 13.3094 22.8112 6.62972C22.8112 6.41084 22.8061 6.19228 22.7965 5.975C23.7867 5.26008 24.6412 4.37394 25.3197 3.35836Z"
                                      fill="black"/>
                            </svg>
                        </a>
                        <a href="#" class="subfooter__wrapper_img">
                            {% comment %}{{ 'tumbler_logo.png' | asset_url | img_tag: 'tumbler_logo' }}{% endcomment %}
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.6809 0.47998H3.12086C1.88886 0.47998 0.880859 1.48798 0.880859 2.71998V21.28C0.880859 22.512 1.88886 23.52 3.12086 23.52H21.6809C22.9129 23.52 23.9209 22.512 23.9209 21.28V2.71998C23.9209 1.48798 22.9129 0.47998 21.6809 0.47998ZM17.7497 19.735C17.0076 20.0845 16.3356 20.3305 15.7343 20.471C15.1327 20.6118 14.4821 20.6819 13.7829 20.6819C12.9897 20.6819 12.2879 20.5817 11.6777 20.3814C11.0677 20.1808 10.5474 19.8944 10.1167 19.5245C9.68566 19.1529 9.3871 18.7584 9.22102 18.3401C9.05462 17.9225 8.97142 17.3168 8.97142 16.5232V10.4326H7.05206V7.97566C7.73398 7.7539 8.31894 7.43646 8.80502 7.02238C9.29134 6.60896 9.68953 6.10195 9.9759 5.5315C10.2706 4.95198 10.4729 4.21406 10.5836 3.31838H13.0533V7.70718H17.174V10.4329H13.0533V14.8861C13.0533 15.8925 13.1065 16.5385 13.2133 16.8249C13.3196 17.1107 13.5183 17.3389 13.8079 17.5094C14.1919 17.7395 14.6313 17.855 15.126 17.855C16.0047 17.855 16.8793 17.5689 17.7493 16.9971V19.735H17.7497Z"
                                      fill="black"/>
                            </svg>
                        </a>
                        <a href="#" class="subfooter__wrapper_img">
                            {% comment %}{{ 'instagram_logo.png' | asset_url | img_tag: 'instagram_logo' }}{% endcomment %}
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.8396 0.840088H4.47965C2.30365 0.840088 0.639648 2.50409 0.639648 4.68009V20.0401C0.639648 22.2161 2.30365 23.8801 4.47965 23.8801H19.8396C22.0156 23.8801 23.6796 22.2161 23.6796 20.0401V4.68009C23.6796 2.50409 22.0156 0.840088 19.8396 0.840088ZM12.1596 8.52009C14.3356 8.52009 15.9996 10.1841 15.9996 12.3601C15.9996 14.5361 14.3356 16.2001 12.1596 16.2001C9.98365 16.2001 8.31965 14.5361 8.31965 12.3601C8.31965 10.1841 9.98365 8.52009 12.1596 8.52009ZM17.0236 5.96009C17.0236 5.06409 17.7916 4.42409 18.5596 4.42409C19.3276 4.42409 20.0956 5.19209 20.0956 5.96009C20.0956 6.72809 19.4556 7.49609 18.5596 7.49609C17.6636 7.49609 17.0236 6.85609 17.0236 5.96009ZM19.8396 21.3201H4.47965C3.71165 21.3201 3.19965 20.8081 3.19965 20.0401V12.3601H5.75965C5.75965 15.9441 8.57565 18.7601 12.1596 18.7601C15.7436 18.7601 18.5596 15.9441 18.5596 12.3601H21.1196V20.0401C21.1196 20.8081 20.6076 21.3201 19.8396 21.3201Z"
                                      fill="black"/>
                            </svg>
                        </a>
                        <a href="#" class="subfooter__wrapper_img">
                           {% comment %}{{ 'linkedin_logo.png' | asset_url | img_tag: 'linkedin_logo' }}{% endcomment %}
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.7338 0.47998H2.10119C1.16231 0.47998 0.400391 1.22398 0.400391 2.14014V21.8576C0.400391 22.775 1.16231 23.52 2.10119 23.52H21.7338C22.6734 23.52 23.4404 22.775 23.4404 21.8576V2.14014C23.4404 1.22398 22.6734 0.47998 21.7338 0.47998ZM7.23367 20.1133H3.81479V9.11838H7.23367V20.1133ZM5.52423 7.61502C5.264 7.61502 5.00632 7.56374 4.76592 7.46412C4.52551 7.36449 4.30709 7.21848 4.12314 7.03441C3.93919 6.85034 3.79331 6.63182 3.69384 6.39135C3.59437 6.15088 3.54326 5.89317 3.54343 5.63294C3.54343 5.10764 3.7521 4.60386 4.12355 4.23242C4.49499 3.86097 4.99877 3.6523 5.52407 3.6523C6.04937 3.6523 6.55315 3.86097 6.9246 4.23242C7.29604 4.60386 7.50471 5.10764 7.50471 5.63294C7.50471 6.15834 7.29611 6.66225 6.92474 7.03392C6.55337 7.40558 6.04963 7.6146 5.52423 7.61502ZM20.0324 20.1133H16.619V14.7667C16.619 13.4912 16.594 11.8512 14.8426 11.8512C13.0641 11.8512 12.793 13.2403 12.793 14.6742V20.1136H9.37703V9.11838H12.6554V10.6198H12.7022C13.1585 9.75582 14.2734 8.84414 15.9361 8.84414C19.394 8.84414 20.0327 11.1206 20.0327 14.0822V20.1133H20.0324Z"
                                      fill="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            {% else %}
        <div class="subfooter__wrapper_column">
            {%- assign main_menu_handle = block.settings.navigation_menu -%}
            {%- assign main_menu = linklists[main_menu_handle] -%}
            {%- for link in main_menu.links -%}
                {% if  forloop.index0 == 0 %}
                    <p class="subfooter__wrapper_title">{{- link.title | escape -}}</p>
                {%- else -%}
                    <a href="{{ link.url }}" class="subfooter__wrapper_link">{{- link.title | escape -}} </a>
                {% endif %}
            {%- endfor -%}
        </div>
            {% endif %}
        {%- endfor -%}
    </div>
</section>

{% schema %}
{
"name": "subfooter",
"max_blocks": 6,
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
}
],
"blocks": [
    {
    "type": "mega_menu",
    "name": "Mega menu",
    "settings": [
        {
        "type": "link_list",
        "id": "navigation_menu",
        "label": "First Menu"
        }
        ]
    }
]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}